/*GENERELT - MOBILE-FIRST*/
img {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #151515;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-family: 'Overpass', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #D6D6D6;
    margin: auto;
}

nav a:nth-child(2) {
    padding-left: 25vw;
}

nav a:visited {
    text-decoration: none;
}

#menu {
    display: flex;
    width: 100px;
    margin: auto;
}

#menu .logopic {
    background-image: url(billeder/logo.png);
    background-size: cover;
    width: 100px;
    height: 56px;
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 7px;
}

p {
    font-family: 'Barlow', sans-serif;
    color: #e5e5e5;
    font-size: 1.1rem;
}

#section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#emne_1,
#emne_2,
#emne_3,
#emne_4 {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.txt {
    background-color: black;
    position: absolute;
    z-index: 100;
    width: auto;
    height: auto;
    opacity: 80%;
}












/*FORSIDE - DE FIRE BOKSE*/
#pic1,
#pic2,
#pic3,
#pic4 {
    background-size: cover;
    width: 50vw;
    height: 50vh;
    filter: grayscale(100%);
}

#pic1 {
    background-image: url(billeder/mono.jpg);
    background-position: 50%;
}

#pic2 {
    background-image: url(billeder/hipster.jpg);
    background-position: 85%;
}

#pic3 {
    background-image: url(billeder/spil.svg);
    background-position: 51%;
}

#pic4 {
    background-image: url(billeder/vores_kaffebar.jpg);
    background-position: 50%;
}
















/*MEDIA QUERIES*/
@media (min-width: 1200px) {
    #logo {
        width: 7%;
    }

    body {
        background-color: #000000;
    }

    #emne_1,
    #emne_2,
    #emne_3,
    #emne_4 {
        width: 25vw;
        height: 100%;
        transition: 1s;
    }

    #emne_1:hover {
        background-color: #ff4141;
    }

    #emne_2:hover {
        background-color: #ffd76a;
    }

    #emne_3:hover {
        background-color: #413b8e;
    }

    #emne_4:hover {
        background-color: #9b593b;
    }

    #pic1,
    #pic2,
    #pic3,
    #pic4 {
        width: 25vw;
        height: 100vh;
        opacity: 70%;
    }

    #video1 {
        background-size: contain;
        z-index: 100;
        position: relative;
    }

    #section_1 {
        display: flex;
    }

    .txt {
        opacity: 70%;
    }

    /*
    #emne_1 .txt {
        bottom: 700px;
    }

    #emne_2 .txt {
        bottom: 550px;
    }

    #emne_3 .txt {
        bottom: 400px;
    }

    #emne_4 .txt {
        bottom: 250px;
    }
*/















    /**/
