/*GENERELT - MOBILE-FIRST*/
html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #292929;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin: 30px 50px;
    border-style: none none solid;
    border-width: thin;
    padding-top: 50px;
}

h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

h3 {
    font-family: 'Overpass', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

p {
    font-family: 'Barlow', sans-serif;
    color: #e5e5e5;
    font-size: 1.1rem;
}







/*TILBAGE TIL TOP KNAP*/
#top_knap {
    background-image: url(billeder/top_knap.png);
    background-size: cover;
    width: 57.3px;
    height: 58px;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    transition: 1s;
}

#top_knap:hover {
    transform: scale(1.3) rotate(360deg);
}









/*SEKTION 1*/
#section_1 .pic1 {
    background-image: url(billeder/mono.jpg);
    background-size: cover;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 0 40%;
}










/*SEKTION 2*/
#section_2 .wrapper {
    margin: 0 20px 20px 20px;
}

#section_2 .pic2 {
    width: 80%;
    margin: auto;
}

#section_2 .texter {
    margin: 0 50px;
}

#section_2 .txt1 p,
#section_2 .txt2 p,
#section_2 .txt3 p {
    margin-top: 0;
}









/*SEKTION 3*/
#section_3 .wrapper {
    margin: 0 20px 20px 20px;
}

#section_3 .texter {
    margin: 0 50px;
    display: flex;
    align-items: center;
}

#section_3 .txt p {
    margin-top: 0;
}

#section_3 .pic3 {
    width: 80%;
    margin: auto;
    padding-bottom: 3vh;
}










/*SEKTION 4*/
#section_4 .txt p {
    margin: 0 70px;
}

#section_4 .pic_wrapper {
    padding-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 20px;
}

#section_4 .left_column {
    background-image: url(billeder/wear_share.jpg);
    background-size: cover;
    width: 100%;
    height: 368px;
}

#section_4 .right_column {
    background-image: url(billeder/mono_produkt.jpg);
    background-size: cover;
    width: 100%;
    height: 368px;
}

#section_4 .mid_column {
    margin: 20px;
    display: grid;
    gap: 20px;
}

#section_4 .mid1,
#section_4 .mid2,
#section_4 .mid3,
#section_4 .mid4,
#section_4 .mid5 {
    width: 100%;
    height: auto;
}

#section_4 .mid5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
}

#section_4 a {
    text-decoration: none;
    color: #e5e5e5;
}












/*BURGER MENU*/
.hidden {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
}

#menuknap {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    font-size: 4rem;
    color: white;
}

#menu {
    padding: 0;
    margin: 0;
}

#menu li {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

nav {
    background-color: #e5e5e5;
    display: block;
    overflow: auto;
    height: auto;
    width: 55vw;
    position: fixed;
}

nav a {
    font-family: 'Overpass',
        sans-serif;
    font-size: 1.2rem;
    display: block;
    color: #292929;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    width: auto;
}

nav li a:hover {
    background-color: #292929;
    color: #e5e5e5;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo .logopic {
    background-image: url(billeder/logo_sort.png);
    background-size: cover;
    width: 90px;
    height: 51px;
}















/*MEDIA QUERIES*/
@media (min-width: 683px) {
    nav a {
        font-size: 1.2rem;
    }

    #section_4 .txt p {
        text-align: center;
    }
}






@media (min-width: 800px) {
    #section_1 {
        padding-top: 59px;
    }

    nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 59px;
        justify-content: center;
        align-items: center;
    }

    nav a {
        font-size: 1rem;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        display: flex;
        transform: translateX(0);
        opacity: 1;
        margin: 0;
        padding: 0;
    }

    #menu li {
        display: inline-block;
    }

    ul li:first-child {
        margin-top: 0;
    }

    ul li:nth-child(5) {
        margin-bottom: 0;
    }

    #logo .logopic {
        width: 90px;
        height: 51px;
        position: fixed;
        top: 3px;
        left: -44px;
    }

    h1 {
        margin: 30px 240px;
    }

    h2 {
        padding-top: 18vh;
    }

    h3 {
        text-align: left;
    }

    #section_2 .texter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #section_2 .pic2 {
        width: 65%;
    }

    #section_2 .txt1,
    #section_2 .txt2,
    #section_2 .txt3 {
        padding: 20px;
    }


    #section_3 .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #section_3 .pic3 {
        width: 100%;
        height: 100%;
    }

    #section_3 .txt p {
        text-align: left;
    }

    #section_4 {
        margin: 70px;
    }

    #section_4 .txt p {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
    }

    #section_4 .mid_column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #section_4 .mid_column .mid5 {
        position: relative;
        left: 50%;
    }
}







@media (min-width: 1300px) {
    #section_1 .pic1 {
        height: 40vh;
    }

    #section_2 .pic2 {
        width: 45%;
    }

    #section_3 .wrapper {
        margin: 0 150px 20px;
    }

    #section_4 {
        margin: 200px;
    }

    #section_4 .pic_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section_4 .left_column,
    #section_4 .right_column {
        width: 50%;
        height: 660px;
    }
}
















/**/
